@model ConnectionCachcadingWithWebApi.Models.RegistraionViewModel

@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<h4>RegistrationViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label for="CountryId">Country</label>
                <select asp-for="CountryId" id="CountryId" asp-items="@(new SelectList(Model.Countries, "CountryId", "CountryName"))" class="form-control">
                    <option value="">-- Select Country --</option>
                </select>
                <span asp-validation-for="CountryId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="StateId">State</label>
                <select asp-for="StateId" id="StateId" asp-items="@(new SelectList(Model.States, "StateId", "StateName"))" class="form-control">
                    <option value="">-- Select State --</option>
                </select>
                <span asp-validation-for="StateId" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="UserRole" class="control-label"></label>
                <select asp-for="UserRole" class="form-control">
                    <option value="User">User</option>
                    <option value="Admin">Admin</option>

                </select>
                <span asp-validation-for="UserRole" class="text-danger"></span>
            </div>
            <div>
                @ViewBag.Msg
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
                       $('#CountryId').change(function () {
            var countryId = $(this).val();

            if (countryId) {
                $.ajax({
                    url: '@Url.Action("GetStatesByCountry", "Login")',
                    type: 'GET',
                    data: { countryId: countryId },
                    success: function (data) {
                        $('#StateId').empty();
                        $('#StateId').append('<option value="">-- Select State --</option>');

                        $.each(data, function (index, state) {
                            $('#StateId').append('<option value="' + state.stateId + '">' + state.stateName + '</option>');
                        });
                    },
                    error: function () {
                        alert("Error fetching states");
                    }
                });
            } else {
                $('#StateId').empty();
                $('#StateId').append('<option value="">-- Select State --</option>');
            }
        });

    </script>


}
